export(chisq.residuals)
export(copie.default)
export(copie.proptab)
export(copie)
export(copy.default)
export(copy.proptab)
export(copy)
export(cprop)
export(cramer.v)
export(cross.multi.table)
export(describe)
export(freq)
export(lookfor)
export(lprop)
export(multi.split)
export(multi.table)
export(prop)
export(quant.cut)
export(rename.variable)
export(renomme.variable)
export(residus)
export(rprop)
export(wtd.table)
importFrom(memisc,description)
S3method(copy,default)
S3method(copy,proptab)
S3method(format,proptab)
S3method(print,proptab)
