S3method(clipcopy,default)
S3method(clipcopy,proptab)
S3method(format,proptab)
S3method(odds.ratio,factor)
S3method(odds.ratio,glm)
S3method(odds.ratio,multinom)
S3method(odds.ratio,table)
S3method(print,proptab)
export(addNAstr)
export(chisq.residuals)
export(clipcopy)
export(clipcopy.default)
export(clipcopy.proptab)
export(copie)
export(copie.default)
export(copie.proptab)
export(cprop)
export(cramer.v)
export(cross.multi.table)
export(describe)
export(format.proptab)
export(freq)
export(freq.na)
export(icut)
export(iorder)
export(irec)
export(lookfor)
export(lprop)
export(multi.split)
export(multi.table)
export(odds.ratio)
export(odds.ratio.factor)
export(odds.ratio.glm)
export(odds.ratio.table)
export(print.proptab)
export(prop)
export(qload)
export(qscan)
export(quant.cut)
export(recode.na)
export(rename.variable)
export(renomme.variable)
export(residus)
export(rprop)
export(wtd.mean)
export(wtd.table)
export(wtd.var)
importFrom(shiny,runApp)
