span.hl.str { color: #d14;}
span.hl.kwa { color: #099;}
span.hl.num { color: #099;}
span.hl.kwd { color: #333; font-weight: bold;}
span.hl.com { color: #888; font-style: italic;}

td.selstyle { padding-left: 2em;}
td.right { text-align: right;}

p.header { font-size: 11px;}
p.bottom-buttons { margin-top: 15px;}

